<!DOCTYPE html>
<html>
    <head>
        <met charset="UTF-8">
        <title>{{ web_name }}-陶片放逐</Title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
        <script src="{{ url_for('static', filename='js/blog_search.js') }}"></script>

        <link rel="stylesheet" href="{{ url_for('static', filename='katex/katex.min.inline.css') }}">

        <!-- The loading of KaTeX is deferred to speed up page rendering -->
        <script defer src="{{ url_for('static', filename='katex/katex.min.js') }}"></script>

        <!-- To automatically render math in text elements, include the auto-render extension: -->
        <script defer src="{{ url_for('static', filename='katex/contrib/auto-render.min.inline.js') }}"
            onload="renderMathInElement(document.body);"></script>

        <script src="{{ url_for('static', filename='showdown/showdown.js') }}"></script>
    </head>
    <body>
        <div class="header">
            <div class="max" style="margin-right: 5px; margin-bottom: 5px; margin-top: 5px;">
                <a class="my-h2" href="/">{{ web_name }}</a>
                <h4 class="my-h4">Developed by qifan_maker</h4>
            </div>
            <div class="max" style="margin-left: 5px; margin-bottom: 5px;">
                {% if not ("username" in session) %}
                    <div style="margin-top: 10px;"><a href="/login" target="_self" title="登录">登录</a></div>
                {% else %}
                    <div class="down-bar">
                        <span>
                            <img src="{{ url_for('static', filename='images/usericon/'+session.get('username')+'.png') }}" class="avatar">
                            {% if user[session.get("username")].get("power")=="super" %}
                            <h4 class="my-h4" style="color: purple;">{{ session.get("username") }}</h4>
                            <span class="admin-tag">吉祥物</span>
                            {% elif user[session.get("username")].get("power")=="admin" %}
                            <h4 class="my-h4" style="color: purple;">{{ session.get("username") }}</h4>
                            <span class="admin-tag">管理员</span>
                            {% elif user[session.get("username")].get("power")=="banned" %}
                            <h4 class="my-h4" style="color: rgb(173, 139, 0);">{{ session.get("username") }}</h4>
                            <span class="banned-tag">封禁用户</span>
                            {% else %}
                            <h4 class="my-h4">{{ session.get("username") }}</h4>
                            {% endif %}
                        </span>
                        <div>
                            <div class="drop"><a href="/user/{{ session.get('username') }}">个人主页</a></div>
                            {% if user[session.get("username")].get("power")=="admin" or user[session.get("username")].get("power")=="super" %}
                            <div class="drop"><a href="/admin">管理后台</a></div>
                            {% endif %}
                            <div class="drop"><a href="/unlogin" target="_self" title="退出登录">退出登录</a></div>
                        </div>
                    </div>
                    
                {% endif %}
            </div>
        </div>
        
		<div style="margin-top: 40px;">
			<div class="max">
                <h2 class="blog" style="text-align: center;">{{ web_name }} / 陶片放逐</h2>
                <div class="blog-content side">
                    <h3>功能说明</h3>
                    <p>此处公布近期涉及到用户权限变更的管理日志，以公开管理流程透明度，以及引起部分用户警示。</p>
                </div>
                <div class="blog-content main">
                    {% for i in judgement %}
                    <div class="blog_list">
                        <div style="display: inline;">
                            <img src="{{ url_for('static', filename='images/usericon/'+i.get('user')+'.png') }}" class="avatar">
                            <a href="user/{{ i.get('user') }}">
                                {% if user[i.get('user')].get("power")=="super" %}
                                <h4 class="my-h4" style="color: purple;">{{ i.get('user') }}</h4>
                                <span class="admin-tag">吉祥物</span>
                                {% elif user[i.get('user')].get("power")=="admin" %}
                                <h4 class="my-h4" style="color: purple;">{{ i.get('user') }}</h4>
                                <span class="admin-tag">管理员</span>
                                {% elif user[i.get('user')].get("power")=="banned" %}
                                <h4 class="my-h4" style="color: rgb(173, 139, 0);">{{ i.get('user') }}</h4>
                                <span class="banned-tag">封禁用户</span>
                                {% else %}
                                <h4 class="my-h4">{{ i.get('user') }}</h4>
                                {% endif %}
                            </a>
                            <small>
                                <script>
                                    var date = new Date({{ i.get('time') }}*1000);
                                    Y = date.getFullYear() + '-';
                                    M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1) + '-';
                                    D = (date.getDate() < 10 ? '0'+(date.getDate()) : date.getDate()) + ' ';
                                    h = (date.getHours() < 10 ? '0'+(date.getHours()) : date.getHours()) + ':';
                                    m = (date.getMinutes() < 10 ? '0'+(date.getMinutes()) : date.getMinutes()) + ':';
                                    s = (date.getSeconds() < 10 ? '0'+(date.getSeconds()) : date.getSeconds());
                                    document.write(Y+M+D+h+m+s);
                                </script>
                            </small>
                        </div>
                        <div>
                            {{ i.get("content") | safe }}
                        </div>
                        <div>{{ i.get("note") | safe }}</div>
                    </div>
                    {% endfor %}
                </div>
			</div>
		</div>

        <footer>
            <div class="max" style="text-align: right;">
                <h4 class="my-h4">{{ web_footer | safe }}</h4>
            </div>
        </footer>
    </body>
</html>