<!DOCTYPE html>
<html>
    <head>
        <met charset="UTF-8">
        <title>{{ web_name }}-个人主页</Title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />

        <link rel="stylesheet" href="{{ url_for('static', filename='katex/katex.min.inline.css') }}">

        <script defer src="{{ url_for('static', filename='katex/katex.min.js') }}"></script>

        <script defer src="{{ url_for('static', filename='katex/contrib/auto-render.min.inline.js') }}"
            onload="renderMathInElement(document.body);"></script>

        <link rel="stylesheet" href="{{ url_for('static', filename='highlight/codesty.css') }}">
        <script src="{{ url_for('static', filename='highlight/highlight.min.js') }}"></script>
        
        <script src="{{ url_for('static', filename='highlight/languages/go.min.js') }}"></script>
                
        <script src="{{ url_for('static', filename='showdown/showdown.js') }}"></script>
        
        <script>hljs.highlightAll();</script>
    </head>
    <body>
        <div class="header">
            <div class="max" style="margin-right: 5px; margin-bottom: 5px; margin-top: 5px;">
                <a class="my-h2" href="/">{{ web_name }}</a>
                <h4 class="my-h4">Developed by qifan_maker</h4>
            </div>
            <div class="max" style="margin-left: 5px; margin-bottom: 5px;">
                {% if not ("username" in session) %}
                    <div style="margin-top: 10px;"><a href="/login" target="_self" title="登录">登录</a></div>
                {% else %}
                    <div class="down-bar">
                        <span>
                            <img src="{{ url_for('static', filename='images/usericon/'+session.get('username')+'.png') }}" class="avatar">
                            {% if user[session.get("username")].get("power")=="super" %}
                            <h4 class="my-h4" style="color: purple;">{{ session.get("username") }}</h4>
                            <span class="admin-tag">吉祥物</span>
                            {% elif user[session.get("username")].get("power")=="admin" %}
                            <h4 class="my-h4" style="color: purple;">{{ session.get("username") }}</h4>
                            <span class="admin-tag">管理员</span>
                            {% elif user[session.get("username")].get("power")=="banned" %}
                            <h4 class="my-h4" style="color: rgb(173, 139, 0);">{{ session.get("username") }}</h4>
                            <span class="banned-tag">封禁用户</span>
                            {% else %}
                            <h4 class="my-h4">{{ session.get("username") }}</h4>
                            {% endif %}
                        </span>
                        <div>
                            <div class="drop"><a href="/user/{{ session.get('username') }}">个人主页</a></div>
                            {% if user[session.get("username")].get("power")=="admin" or user[session.get("username")].get("power")=="super" %}
                            <div class="drop"><a href="/admin">管理后台</a></div>
                            {% endif %}
                            <div class="drop"><a href="/unlogin" target="_self" title="退出登录">退出登录</a></div>
                        </div>
                    </div>
                    
                {% endif %}
            </div>
        </div>
        
		<div class="max" style="margin-top: 40px;">
			<div class="blog" style="padding: 30px;">
                <div style="float: right;">
                    {% if user[session.get("username")].get("power")=="admin" or user[session.get("username")].get("power")=="super" %}
                    <a href="/admin/user/{{ pageuser }}">管理</a>
                    {% endif %}
                </div>
                <div style="display: flex; align-items: center;">
                    <img src="{{ url_for('static', filename='images/usericon/'+pageuser+'.png') }}" class="big-avatar">
                    {% if user[pageuser].get("power")=="super" %}
                    <h2 style="margin-left: 20px; margin-right: 5px; color: purple;">{{ pageuser }}</h2>
                    <span class="admin-tag">吉祥物</span>
                    {% elif user[pageuser].get("power")=="admin" %}
                    <h2 style="margin-left: 20px; margin-right: 5px; color: purple;">{{ pageuser }}</h2>
                    <span class="admin-tag">管理员</span>
                    {% elif user[pageuser].get("power")=="banned" %}
                    <h2 style="margin-left: 20px; margin-right: 5px; color: rgb(173, 139, 0);">{{ pageuser }}</h2>
                    <span class="banned-tag">封禁用户</span>
                    {% else %}
                    <h2 style="margin-left: 20px; margin-right: 5px;">{{ pageuser }}</h2>
                    {% endif %}
                </div>
            </div>
            {% if user[pageuser].get("power")!="banned" %}
                <div class="blog-content side">
                    {% if pageuser==session.get("username") %}
                    <p>我发表的文章：</p>
                    {% else %}
                    <p>{{ pageuser }} 发表的文章：</p>
                    {% endif %}
                    <ul>
                        {% for i in user_blog %}
                        <li>
                            <a href="/blog?id={{ i }}" target="_self">{{ user_blog[i][0] | safe }}</a>
                            {% if user_blog[i][5] %}
                            <span class="topping">置顶</span>
                            {% endif %}
                            {% if not user_blog[i][7] %}
                            <span class="hiding">隐藏</span>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="blog-content main">
                    <h3>个人介绍</h3>
                    <div id="blog-show">
                        <textarea id="blog-md" style="display: none;">{{ bio | safe }}</textarea>
                        <script>
                            let converter = new showdown.Converter({tables: true}),
                                container_md = document.getElementById("blog-md"),
                                container_show = document.getElementById("blog-show");
                            container_show.innerHTML = converter.makeHtml(container_md.value);
                        </script>
                    </div>
                </div>
            {% else %}
                <div class="blog-content">
                    <P>该用户已被封禁</P>
                </div>
            {% endif %}
		</div>

        <footer>
            <div class="max" style="text-align: left;">
                <h4 class="my-h4">{{ web_footer | safe }}</h4>
            </div>
        </footer>
    </body>
</html>